
body {
    background-color:rgb(240, 252, 138);
    display: flex;
    align-items: center;
    color :blue;
    font-size: 80px;
    font-family: verdana;
    flex-direction: column;
    justify-content: center;
}